<main class="my-3">
  <div class="logo-container">
    <img src="/images/logo.PNG" alt="TCG Master">
  </div>
  <h3>Uncover the perfect haven for all your Yu-Gi-Oh! TCG card needs!</h3>
  <div class="card-container d-flex flex-wrap justify-content-center my-5">
    {{#each products}}
      <div class="card" style="width: 18rem;">
        <img src="{{this.photo}}" class="card-img-top" alt="{{this.title}}" />
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{this.title}}</h5>
          <p class="card-text">${{this.price}}</p>
          <p class="card-text fw-light">{{this.stock}} units in stock</p>
        </div>
      </div>
    {{/each}}
  </div>
</main>