<main class="my-3">
  <img src="/images/logo.PNG" alt="logo">
  <h1>The smart option</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
    deleniti enim hic vel explicabo illo necessitatibus facilis molestiae
    distinctio!</p>
  <div class="card-container d-flex flex-wrap justify-content-center my-5">
    {{#each products}}
      <div class="card" style="width: 18rem;">
        <img src="{{this.photo}}" class="card-img-top" alt="{{this.title}}" />
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{this.title}}</h5>
          <p class="card-text">${{this.price}}</p>
          <p class="card-text fw-light">{{this.stock}} units in stock</p>
        </div>
      </div>
    {{/each}}
  </div>
</main>